.vscode
# IGNORE BUILD FILES
/build/

# IGNORE COMPILER FILES
*.exe
*.out
*.o
*.obj

# IGNORE DOCKER FILES
.dockerignore
*.log
*.tmp
*.bak

# IGNORE CMAKE FIELS
CMakeCache.txt

# SUSTEM FILES
.DS_Store
Thumbs.db

# TEST FILES
test
todo

# DOCUMENTATION FILES
PLAN.md
TODO.md
