name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # checkout the code
      - name: Checkout 
        uses: actions/checkout@v3

      # install dependencies
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y g++ cmake libsfml-dev libudev-dev libopenal-dev libvorbis-dev libogg-dev libflac-dev libxrandr-dev libxcursor-dev xvfb lcov

      # start xvfb
      - name: Start Xvfb
        run: |
          Xvfb :99 & export DISPLAY=:99

      # configurer
      - name: Configure project
        run: cmake -S . -B build

      # build
      - name: Build project
        run: cmake --build build

      # unit tests
      - name: Run tests
        run: |
          export DISPLAY=:99

          cd build

          ctest --output-on-failure

      # code coverage raport
      - name: Generate code coverage
        run: |
          cd build

          lcov --directory . --capture --output-file coverage.info

          lcov --remove coverage.info '/usr/*' '*/tests/*' '/deps/*' '*/build/*' --output-file coverage.info

          lcov --extract coverage.info '*/include/*' --output-file coverage.info

          lcov --list coverage.info || echo "No valid coverage data found!"
